.btn {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.edit-row-element {
    border: 0px;
}

.tabulator {
    font-size: 12px;
}

.middle {
    vertical-align: middle;
}

#firma {
    font-size: 12px;
    position: relative;
    bottom: 0;
    left: 0;
}

 .material-icons-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}


/* .material-icons-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
} */

/* @font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(font/material-icons-outlined.woff2) format('woff2');
} */