.btn {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.edit-row-element {
    border: 0px;
}

.tabulator {
    font-size: 12px;
}

.middle {
    vertical-align: middle;
}

#firma {
    font-size: 12px;
    position: relative;
    bottom: 0;
    left: 0;
}

 .material-icons-outlined {
    font-size: 24px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-header-popup-button {
    padding: 0 0 0 0; }

.tabulator-row .tabulator-cell {
    padding: 5px;}

.navbar {
    background-color: #0d6efd;
}

.menu-button {
    width: 150px;
}

button span {
    padding-left: 10px;
}

#user {
    color: white;
}

.lds-grid,
.lds-grid div {
  box-sizing: border-box;
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  /* height: 80px; */
  z-index: 1000;
  /* left:800;
  top:300; */
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: currentColor;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

tbody tr td span {
  cursor: pointer;
}

.sections {
    padding:5px;
}

.activityNoteColumn{
  width: auto;
  padding-right: 10px;
}

.pageTile{
  text-align: center;
  font-size: x-large;
}